.wallpaper {

   background-image:url(assets/diverintro.jpg);
   background-size:cover;
   position:relative;
   repeat: no;
   height:100vh;
   padding-top:50px;
 }
#intro {

  font-size:2em;
  text-align:center;
  text-transform: uppercase;
  line-height:2em;
  color:white;
  text-shadow:#020819 8px -20px 9px;

}

#start-button {
  background-color:rgb(8, 110, 243);
  border: 2px solid rgba(10, 161, 248, 0.2);
  color:white;
  display:block; 
  //font-family:'';
  font-size:2em;
  letter-spacing:0.5px;
   margin: 60px auto 0 auto;
  padding: 14px 20px 14px 20px;
 
 // text-decoration:none;
  width:400px;
  

}

#h3{
  font-size:1.7em;
  text-align:center;
  text-transform: uppercase ;
  line-height:1.5em;
  color:rgb(212, 20, 20);
  //shadow:#ecf1ff 8px -20px 9px; 
  letter-spacing:0.5;
  font-weight:bold;
}


#french{
  font-size:1.7em;
  text-align:center;
  text-transform: uppercase ;
  line-height:1.5em;
  color:rgb(15, 241, 34);
  //shadow:#ecf1ff 8px -20px 9px; 
  letter-spacing:0.5;
  font-weight:bold;
}


